* {
    font-family: Arial, sans-serif;
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 1164px;
    margin:0 auto;
    padding:0 15px;
}

.phone {
    font-size: 18px;
    font-weight: 700;
    color: #007198;
}

.btn {
    font-size: 12px;
    color: #111111;
    background-color: #F47220;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(244, 114 , 32, 0.4);
    border: 1px solid rgba(17, 17, 17, 0.5);
}